.new-order {
  padding-top: 2rem;
  a {
    width: 100px;
    background-color: #4caf50;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
